.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.hero__content-with-photo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    align-items: start;
}

.hero__content-with-photo>img.hero-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    justify-self: center;
    -webkit-mask-image:
        linear-gradient(to right, transparent 0%, black 20%),
        linear-gradient(to top, transparent 0%, black 30%),
        linear-gradient(to top right, transparent 0%, transparent 45%, black 60%);
    mask-image:
        linear-gradient(to right, transparent 0%, black 20%),
        linear-gradient(to top, transparent 0%, black 30%),
        linear-gradient(30deg, transparent 0%, transparent 27%, black 40%);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.hero-text {
    width: 100%;
    padding: 0 2rem;
    justify-self: stretch;
    z-index: 3;
}

.hero-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    font-family: 'Courier New', monospace;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 50px #00bfff;
    margin-bottom: 4rem;
    letter-spacing: 0.05em;
}

.hero-slogan {
    font-family: 'Marck Script', cursive;
    font-size: 1.3rem;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(150, 99, 231, 0.76);
    margin-bottom: 1rem;
    text-align: center;
}

html:not(.dark) .hero-slogan {
    color: #4009be;
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.74);
}

.hero-subtext p {
    font-family: 'Courier New', monospace;
    font-size: 1.15rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 0.7rem;
    color: #4400ff;
    text-shadow: 0 0 0.5px #4400ff6b;
    line-height: 1.8;
    text-align: start;
    letter-spacing: 0.02em;
}

html.dark .hero-subtext p {
    color: #00bfff;
    opacity: 1;
    text-shadow: 0 0 15px rgba(0, 191, 255, 0.9);
    letter-spacing: 0.04em;
}


@media (max-width: 1024px) {
    .hero__content-with-photo {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    .hero__content-with-photo>img.hero-photo {
        width: 180px;
        max-width: 100%;
        mask-image: none;
        -webkit-mask-image: none;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-text {
        max-width: 90%;
        padding: 0 1rem;
    }
}