.motivation-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem 1.5rem 12rem;
    color: #4400ff;
    position: relative;
    z-index: 1;
}

.motivation-textbox {
    position: relative;
    background: rgba(72, 45, 178, 0.08);
    border-radius: 2rem;
    padding: 2.5rem;
    max-width: 700px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    box-shadow:
        inset 0 0 15px rgba(72, 45, 178, 0.25),
        0 12px 36px rgba(72, 45, 178, 0.25);
    border: 2px double rgba(72, 45, 178, 0.4);
    text-align: center;
    transform-origin: top center;
    animation: openLetter 0.6s forwards ease-out;
    overflow: hidden;
}

html.dark .motivation-textbox {
    background: rgba(255, 255, 255, 0.05);
    box-shadow:
        inset 0 0 20px rgba(0, 191, 255, 0.5),
        0 12px 36px rgba(0, 191, 255, 0.5);
    border-color: rgba(138, 250, 255, 0.6);
}

.motivation-textbox::-webkit-scrollbar {
    width: 8px;
}

.motivation-textbox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}

html.dark .motivation-textbox::-webkit-scrollbar-thumb {
    background-color: rgba(138, 250, 255, 0.4);
}

.typewriter-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 40px #482db2;
    margin-bottom: 1rem;
    position: relative;
}

html.dark .typewriter-name {
    color: #8afaff;
    text-shadow: 0 0 12px #00ffff;
}

.typewriter-text {
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.95;
    margin-bottom: 0.5rem;
    color: #482db2;
    white-space: pre-wrap;
    text-align: justify;
}

html.dark .typewriter-text {
    color: #00bfff;
}

.cursor {
    display: inline-block;
    width: 1px;
    height: 1.2em;
    background-color: #ffffff;
    animation: blink 1s steps(1) infinite;
    margin-left: 2px;
}

html.dark .cursor {
    background-color: #00ffff;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes openLetter {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.hero-slogan {
    font-family: 'Marck Script', cursive;
    font-size: 1.3rem;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(150, 99, 231, 0.76);
    margin-bottom: 1rem;
    text-align: center;
}

html:not(.dark) .hero-slogan {
    color: #482db2;
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.74);
}